<aside class="main-sidebar">
  <nav class="nav-menu">
    <p class="menu-label">Espace Client</p>
    <a routerLink="/dashboard" routerLinkActive="active" class="nav-item">📊 Dashboard</a>
    <a routerLink="/transfer" routerLinkActive="active" class="nav-item">💸 Transférer</a>
    <a routerLink="/transactions" routerLinkActive="active" class="nav-item">🕒 Historique</a>
    
    <p class="menu-label admin-section">Espace Agent</p>
    <a routerLink="/admin/wallets" routerLinkActive="active" class="nav-item agent-link">💼 Gestion Portefeuilles</a>
  </nav>
</aside>